body {
  background: #fbf1f6;
}

body h1, body ul, body li, body a, body p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  width: 200px;
  margin: 10px auto 5px;
}

@media screen and (max-width: 600px) {
  img {
    width: 150px;
  }
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  line-height: 1em;
  color: #5e1609;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 850px;
}

.nav .nav-item {
  font-family: "Nunito", sans-serif;
  font-size: 0.875em;
  line-height: 1.14286em;
  background: #f3f9f8;
  border: 2px solid #ff8fa3;
  flex-grow: 1;
  margin: 3px;
  padding: 1px;
  text-align: center;
}

.nav .nav-item a {
  color: #5e1609;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav .nav-item a.active {
  color: #ff8fa3;
}

.nav .nav-item a:hover {
  color: #f99a97;
  transition: .4s ease-in-out;
}

footer {
  font-family: "Nunito", sans-serif;
  font-size: 0.62em;
  margin: 0 auto;
  text-align: center;
}

footer address, footer a {
  color: #3d3d3d;
  text-decoration: none;
}

.container {
  max-width: 900px;
}
