.header-bg{
    @include headerfooter;
    background-image: url('../img/header.png');
}

.header-menu {
    @include display;
    @include type-1(18);
    color: $font-color;
    margin: 30px auto 0;
    max-width: 1100px;

    a {
        text-align: center;
        text-decoration: none; 
        color: $font-color;
    
        &:visited {
            color: $font-color;
        }
        img {
            width: 400px;  
        }
    }

    ul li {
        display: inline-block;
        padding: 0 20px;
        text-align: center;
    }
    @include device(sm) {
        justify-content: center;
        margin: 20px auto;
    }
    @include device(md) {
        justify-content: center;
        margin: 30px auto;
    }
}