img {
    width: 200px;
    margin: 10px auto 5px;
    // <a href='https://br.freepik.com/psd/maquete'>Maquete psd criado por freepik - br.freepik.com</a>
    @media screen and (max-width: 600px){
        width: 150px;
    }
}

h1{
    @include type-1(24);
    color: $color-6;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 850px;

    .nav-item {
        @include type-1(14);
        background: $color-5 ;
        border: 2px solid $color-7;
        flex-grow: 1;
        margin: 3px;
        padding: 1px;
        text-align: center;

        a {
            color: $color-6;
            padding: 5px;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
                color:$color-7;
            } 

            &:hover {
                color: $color-2;
                transition: .4s ease-in-out;
            }
        }
    }
}