$font-1:'Nunito', sans-serif;
$font-color:#3d3d3d;
$main-color:#f99a97;
$last-color:#f3f9f8;
$primary-color:#eac3ca;
$secondary-color:#fbf1f6;


@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

@mixin type-1($size) {
    font-family: $font-1;

    @if $size == 16 {
        font-size: em(16);
        line-height: em(16, 16);
    }
    @else if $size == 18 {
        font-size: em(18);
        line-height: em(20, 18);
    }
    @else if $size == 24 {
        font-size: em(24);
        line-height: em(24, 24);
    }
    @else if $size == 42 {
        font-size: em(42);
        line-height: em(20, 20);
    }
}

$lg-device: 960px;
$md-device: 760px;
$sm-device: 480px;

@mixin device($size) {

    @if $size == lg {
        @media screen and (min-width: #{$lg-device}) {
            @content;
        }
    }
    @else if $size == md {
        @media screen and (min-width: #{$md-device}) and (max-width: $lg-device - 1) {
            @content;
        }
    }    
    @else if $size == sm {
        @media screen and (max-width: $md-device - 1) {
            @content;
        }
    }    
}

@mixin headerfooter {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 14em;
    opacity: 75%;
    width: 100%;
}

@mixin display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
